#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY='hashgraphhub-tutorial'
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export USERNAME=**Your username**
export PASSWORD=**Your password**
export OPERATOR_ID=**Your account id***
export OPERATOR_KEY=**Your public key**
export OPERATOR_PRIVATE_KEY=**Your private key**
export HEDERA_ENV=**Hedera env**
export LOGFILEPATH=logs/api.log
export CELERYLOGFILEPATH=logs/celery.log
export MAX_PLAYERS=2

export DB_ENGINE=django.contrib.gis.db.backends.postgis
export DB_USER=dev
export DB_PASSWORD=dev
export DB_HOST=db
export DB_NAME=dev
export DB_PORT=5432

export SUPER_USER_NAME=bobby@didcoding.com
export SUPER_USER_PASSWORD=fredfred1
export SUPER_USER_FIRST_NAME=Bobby
export SUPER_USER_LAST_NAME=Stearman