#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY='hashgraphhub-tutorial'
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export USERNAME=***
export PASSWORD=***
export OPERATOR_ID=***
export OPERATOR_KEY=***
export OPERATOR_PRIVATE_KEY=***
export HEDERA_ENV=***
export LOGFILEPATH=logs/api.log
export CELERYLOGFILEPATH=logs/celery.log
export CELERY_BACKEND=django-db

export DB_ENGINE=django.contrib.gis.db.backends.postgis
export DB_USER=dev
export DB_PASSWORD=dev
export DB_HOST=db
export DB_NAME=dev
export DB_PORT=5432

export SUPER_USER_NAME=***
export SUPER_USER_PASSWORD=***
export SUPER_USER_FIRST_NAME=***
export SUPER_USER_LAST_NAME=***

export SUPPORT_EMAIL=***
export DONOT_REPLY_EMAIL=***
export EMAIL_PASSWORD=***
export EMAIL_HOST=smtp.gmail.com
export EMAIL_PORT=587
export EMAIL_USE_TLS=1
export EMAIL_DISPLAY_NAME=HashGraphHub